# CMake related files
CMakeCache.txt
CMakeCache.txt.prev
CMakeFiles
CMakeLists.txt.user*
CMakeModules
CTestCustom.cmake
cmake_install.cmake
*.cmake
Makefile

# Visual Studio related files
.vs
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
*.sln
*.log
*.tlog
*.recipe

# OpendTect
*.alo
*mod.h
*deps.h
*.pdb
*.obj

# Qt
moc_*
