# CMake related files
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user*
CMakeModules
CTestCustom.cmake
CTestTestfile.cmake
cmake_install.cmake
.cmake
Makefile
qtcsettings.cmake

# Visual Studio related files
.vs
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
*.sln
*.log
*.tlog
*.recipe
*.dir

# OpendTect
*.alo
*mod.h
*deps.h
*.pdb
*.obj

# Qt
moc_*
plugins/*/*_autogen
plugins/*/launch-*.cmd

# Others
*.patch
*.sw?
